@import "tailwindcss";

@layer components {
  .float-animate {
    animation: float 6s ease-in-out infinite;
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px);
    }
  }

  .nav-link {
      position: relative;
    }
    .nav-link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #2563eb; /* tailwind blue-600 */
      transition: all 0.3s;
    }
    .nav-link:hover::after {
      width: 100%;
  }

  .watch-shadow {
    box-shadow: 0 25px 50px -12px rgba(30, 58, 138, 0.25);
  }

  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #2563eb, #4f46e5); /* from-blue-600 to-indigo-600 */
  }
}
